@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

* {
  margin: 0;
  padding: 0;
}
.Main-Div {
  
  background-color: #000;
  height: 200vh;
  font-family: 'Muli', sans-serif;
  overflow:hidden ;
  
}


.text {
    position:absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;
    border-bottom: 0;
  }
  
  .text.hidden {
    border-bottom: 1px solid #fff;
  }
  
  .text li {
    display: inline-block;
    float: left;
    font-weight: 700;
    font-size: 2em;
    color: #fff;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    max-width: 2em;
  }
  .text.hidden li.spaced {
    padding-left: 0;
  }
  .text li.spaced {
    padding-left: 0.5em;
  }
  
  .text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
  }
  
 
  .second-header{
    border: 2px solid rgb(48, 47, 47);
    margin: 80px 85px 0px 85px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    opacity: 1;
    /* transition: all 1s ease-in-out;
    transform: translateX(-1000px); */
    text-align: justify;
    text-justify: inter-word;
    transition: all 2s ease-in-out;
    transform: translateX(-100%);
    
  }
  .second-header.visible {
    opacity: 1;
    transform: translateX(0); /* Move in from the left */
  }
  
  .story{
    font-size: 38px;
    padding: 3%;
    /* transition: all 0.5s ease-in-out; */
  }
  .sub-story{
   font-size: 20px;
   line-height: 1.4;
   letter-spacing: 0.4px;
   text-align: justify;
   font-weight:500;

  }

  .second-header .story,
.second-header .sub-story {
  transform: translateX(100%); /* Initial position outside the viewport on the right */
  transition: transform 1s ease-in-out;
}
  .second-header.visible .story,
  .second-header.visible .sub-story {
    transform: translateX(0); /* Move in from the right */
  }